/* Basic Style */

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
} 

.header__info {
  font-family: "fantasy", cursive;
}

@media (max-width: 768px) {
  .header { 
    text-align: center;
}

}
.main {
  display: block;
  width: 400px;
  margin: 16px auto 0;
}

.item__input_task,
.item__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add__container {
  display: flex;
}

.add__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.todo__list,
.completed__list {
  margin: 0;
  padding: 0px;
}

.item, 
.title {
  list-style: none;
}

.add__input,
.item__checkbox,
.item__input,
.add__btn,
.item__btn {
  outline: none;
}

.add__btn,
.item__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.add__btn,
.item__btn:hover {
  color: #3a3a3a;
}

/* Heading */

.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.item__input,
.add__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
}

.item__input:focus {
  color: #333;
}

/* New Task */

.add__title {
  display: block;
  margin: 0 0 20px;  
}

.add__input {
  width: 318px;
}

.add__btn:hover {
  color: #0fc57c;
}

/* Task list */

.item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__checkbox {
  margin: 0 10px;
}

.item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.item__input {
  width: 226px;
  display: none;
}

.item__delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.item__delete:hover {
  transform: rotateZ(0);
}

/* Completed */

.completed__list .item__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.list__item_edit .item__input {
  display: inline-block;
  width: 224px;
}

.list__item_edit .item__label {
  display: none;
}